*.bak
*.pdf
*.pyc
*.xlsx
.DS_Store
.idea/
Authorization/
__pycache__/
authorization.json
authorization.txt
db.sqlite3
db.sqlite3-*
delete.py
logs/
node_modules/
templates/dist/spa/css/
templates/dist/spa/js/
templates/dist/spa/media/
templates/public/statics/baseurl.txt
templates/dist/spa/statics/baseurl.txt
token.json
